/* General; CSS filen styr formateringen för labb 1 i HTML / CSS */
	body {margin-top: 0%; background-color: white;}

	/* Header */
		header {min-width: 500px; width: 102%; margin-left: -1%; height: 10vh; padding-top: 1%; background-color: darkblue; color: white; display: flex; flex-direction: row;}
			#title {margin-left: 4%; letter-spacing: 3px; font-size: 3em; flex-grow: 0.11;}
			nav {width: 23%; margin-top: 29px; display: flex; flex-direction: row;}
				nav a {width: 30%; margin-left: 2px; color: white; font-size: 1em; text-decoration: none;}

	/* Main contents */
		main {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;}
			img {margin: 20px; min-width: 150; width: 200px; height: 100%; flex-grow: 1;} /* Krav; ● The width of an image shsould not be less than 150 pixels. The images should have a margin
of between 20 to 40 pixels to each other.*/


	/* Media Query */
		@media screen and (max-width: 700px)
			{
				nav {display: none;}
				#title {width: 100%; text-align: center;}
			}
